@page "/Metas"
@using System.Linq.Expressions
@inject MetasService MetasService;
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject NavigationManager NavigationManager;

<PageTitle>Metas</PageTitle>
	<div class="card shadow-lg">

		<div class="card-header">
			<h3><strong>Metas</strong></h3>
			
		</div>

		<div class="card-body">
		@if (Meta.Count == 0)
			{
				<p><em>Agregue un nueva Meta...</em></p>
			}
			else
			{
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>MetaId</th>
							<th>Fecha</th>
						<th>Descripci&oacute;n</th>
							<th>Monto</th>
						<th>Editar</th>
						<th>Ver</th>
						<th>Eliminar</th>
							
							
						</tr>
					</thead>
					<tbody>
						@foreach (var met in Meta)
						{
							<tr>
								<td>@met.MetaId</td>
								<td>@met.Fecha</td>
								<td>@met.Descripcion</td>
							<td>@met.Monto.ToString("N2")</td>
							<td><a href="/EditMetas/MetaId=@met.MetaId"><em><i class="bi bi-pencil-square" /></em></a></td>
							<td><a href="/DetailsMetas/MetaId=@met.MetaId"><em><i class="bi bi-eye-fill" /></em></a></td>
							<td><a href="/DeleteMetas/MetaId=@met.MetaId"><em><i class="bi bi-trash3-fill" /></em></a></td>
								
							</tr>
						}
					</tbody>
				</table>
			}
		</div>
		<div class="mb-3"></div>

		<div class="card-footer">

		 <div class="d-flex align-items-start">
			<div class="px-2">
				<button type="button" class="btn btn-outline-primary" @onclick="IrACrear">Crear</button>
			</div>

		 </div>
		</div>
	</div>
	<div class="card-footer d-flex justify-content-center"></div>

@code {
	public List<Metas> Meta = new List<Metas>();

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500);
		Expression<Func<Metas, bool>> criterio = Meta => Meta.MetaId > 0;

		Meta = await MetasService.Listar(criterio);
	}

	void IrACrear()
	{
		NavigationManager.NavigateTo("/CreateMetas");
	}

	
}
